@import '../../index.scss';
.section {
    border-radius: 10px;
    border: 1px solid $primary-color;
    padding: 5px 10px;
    color: $primary-color;
    &__title {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    hr {
        background-color: $primary-color;
    }
    &__children {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}