.contactInfo {
    padding: 34px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    &__lineItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
}