.experience {
    &__headerRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__titleAndSubtitles {
            &__institution {
                color: black;
                font-size: 20px;
                letter-spacing: 0.25px;
            }
        }
    }
    &__description {
        padding-top: 5px;
        color: black;
        font-size: 11px;
        line-height: 1.2rem;
    }
}

ul {
    margin: 0;
}

.ul__outer {
    list-style: "- ";
    padding-left: 10px !important;
}

.ul__inner {
    list-style: "- ";
}